# Requirements
numpy
opencv-python
torch >= 1.1.0
matplotlib
git+https://github.com/philferriere/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
tqdm
Pillow
declxml==0.9.1
pandas
numpy
awscli
urllib3
tqdm
opencv-python
cython
lxml
